version: "3.9"

services:
  api:
    build: .
    container_name: career_assistant_api
    ports:
      - "8000:8000"
    volumes:
      - .:/app  # Mount current directory for hot reload
    environment:
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6333
    depends_on:
      - qdrant

  qdrant:
    image: qdrant/qdrant
    container_name: career_assistant_qdrant
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_storage:/qdrant/storage
